<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input v-model="enteredGoalValue" type="text" />
      <button @click="addGoal">Add Goal</button>
      <p v-if="goals.length == 0">No goals have been added yet - please start adding some!</p>
      <ul v-else>
        <li :key="goal" @dblclick="removeGoal(index)" v-for="(goal, index) in goals">

          <p>{{index+1}}:{{goal}}</p>
          <input type="text" @dblclick.stop>

        </li>
      </ul>
<!--  <ul v-if="arrObj.length > 0">
        <li v-for="obj in arrObj">{{obj.name}}, {{obj.age}}</li>
      </ul>

      <ul>
        <li v-for="num in 5">{{num}}</li>
      </ul>-->
    </section>


   <section id="tasks">
    <h2>Assignment</h2>
    <input v-model="enteredTaskText" type="text">
    <button @click="addTask">Add Task</button>
    <ul  v-if="isVisible">
      <li v-for="task in tasks">{{task}}</li>
    </ul>

     <div>
       <button v-if="tasks.length > 0" @click="toggleList">{{showButtonText()}}</button>
     </div>

    </section>

  </body>
</html>
